@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');


/*----HEADER----*/


.header{
    background-color: #fde686;
    font-family: 'Poppins', sans-serif;
    height: 108px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header img{
    width: 110px;
    cursor: pointer;
}


.header nav ul{
    display: flex;
}

.header nav ul li{
    margin-right:50px;
    font-size: 20px;
}

.header nav ul li a{
    text-decoration: none;
    color: black;
}

.header #menu{
    display: none;
}

/*------END HEADER-----------*/

/*-----MAIN-------*/


.historia{
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: #f5f2e6;
    height: 550px;
}


.desenho{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--------ANIMAÇÃO----------*/

.desenho img{
    max-width: 380px;
    max-height: 355px; 
    transform: translateY(0px);
    animation: levi 4s ease-in-out infinite;
}

@keyframes levi{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }
}

/*--------ANIMAÇÃO----------*/



.history{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history h1{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.history p{
    width: 500px;
    text-align: justify;
}

/*---END MAIN----*/


/*------------MAIN 2----------*/

/*-------LEFT-----*/
.guia{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f2e6;
    height: 550px;
    position: relative;
}

.guia #titulo{
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.guia button{
    height: 60px;
    border: none;
    cursor: pointer;
    background-color: #f5f2e6;
}

.guia button i{
    font-size: 25px;
}


.seta-prev{
    position: absolute;
    right: 480px;
    bottom: 330px;
    font-size: 25px;
    line-height: 250px;
    color: #0000004d;
    width: 60px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: all 600ms ease-in-out;
}

.seta-next {
    position: absolute;
    bottom: 330px;
    right: 10px;
    font-size: 25px;
    line-height: 250px;
    color: #0000004d;
    width: 60px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: all 600ms ease-in-out;
}



.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.materia{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*-------*/
.abs{
    display: flex;
    flex-direction: column;
    width: 220px;
    text-align: center;
}

.abs h1{
    font-weight: bold;
    margin-bottom: 35px;
}

.abs p{
    text-align: justify;
    font-size: 14px;
}
/*--------*/

/*-------*/
.pla{
    width: 220px;
    text-align: center;
}

.pla h1{
    font-weight: bold;
    margin-bottom: 35px;
}

.pla p{
    text-align: justify;
    font-size: 14px;
}


.hr{
    width: 1px;
    height: 210px;
    background-color: black;
}

/*-------------END LEFT-----*/

/*-----MAIN MATERIA-------*/

.carrosel{
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}




/*----SLIDE------*/

.slide{
    display: flex;
    width: 300px;
    position: relative;
    transition: 2s;
    
}

.carrosel .slide img{
    width: 300px;
}


/*------END MAIN MATERIA-------*/


/*-----FOOTER-----*/

footer{
    background-color: #fde686;
    height: 245px;
}

footer img{
    width: 108px;
}

.footer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.redes{
    width: 80px;
    display: flex;
    justify-content: space-around;
}

.redes i{
    font-size: 30px;
    margin-bottom: 10px;
}

footer p{
    margin-top: 25px;
    font-size: 12px;
}

footer .logo-footer{
    position: absolute;
    right: 40px;
    bottom: 10px;
}

footer .logo-footer img{
    width: 81px;
    cursor: pointer;
}

/*-----END FOOTER----*/


/*--------------HOVER--------------*/

/*--HEADER--*/

.header nav ul li:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s;
}

.header nav ul li:not(:hover){
    transform: scale(1);
    transition: all 0.5s;

}


.header nav ul i:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s;
}

.header nav ul i:not(:hover){
    transform: scale(1);
    transition: all 0.5s;
}

/*--END HEADER---*/


/*---footer----*/



footer .footer .redes i:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s;
}

footer .footer .redes i:not(:hover){
    transform: scale(1);
    transition: all 0.5s;
}

/*---footer----*/


/*------------------END HOVER--------------*/





